*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  background-color: white;
  padding: 20px;
}

.app-header {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 0;
  }
}