/* Block */
.score-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow-x: auto;
}

/* Elements */
.score-table__head {
    background-color: var(--color-gray-200);
}

.score-table__row {}

.score-table__header,
.score-table__cell {
    padding: 8px;
    border-bottom: 1px solid var(--color-gray-300);
    height: 24px;
    width: 100px;
}

.score-table__header {
    font-weight: 600;
}

.score-table__body .score-table__row:nth-child(even) {
    background-color: var(--color-gray-100);
}

/* Modifiers for result cell */
.score-table__cell--win {
    color: var(--color-success);
    font-weight: bold;
}

.score-table__cell--lose {
    color: var(--color-error);
    font-weight: bold;
}

.score-table__cell--tie {
    color: var(--color-warning);
    font-weight: bold;
}