.score-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow-x: auto;
}

.score-table__head {
    background-color: var(--color-gray-200);
}

.score-table__row {}

.score-table__header,
.score-table__cell {
    padding: 5px;
    border-bottom: 1px solid var(--color-gray-300);
    height: 40px;
    width: 100px;
}

.score-table__header {
    font-weight: 600;
}

.score-table__body .score-table__row:nth-child(odd) {
    background-color: color-mix(in srgb, var(--color-gray-200) 20%, white);
}

.score-table__body .score-table__row:nth-child(even) {
    background-color: var(--color-gray-200);
}

.score-table__body .score-table__row:hover {
    background-color: var(--color-gray-250, #e9e9e9);
}

.score-table__cell--win {
    color: var(--color-success);
    font-weight: bold;
}

.score-table__cell--lose {
    color: var(--color-error);
    font-weight: bold;
}

.score-table__cell--tie {
    color: var(--color-warning);
    font-weight: bold;
}

@media (max-width: 768px) {

    .score-table__header,
    .score-table__cell {
        font-size: 10px;
        height: 30px;
    }

    .score-table__body .score-table__row:nth-child(odd) {
        background-color: color-mix(in srgb, var(--color-gray-200) 30%, white);
    }

    .score-table__body .score-table__row:nth-child(even) {
        background-color: var(--color-gray-200);
    }
}