.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    overflow-x: auto;
}

.score-table thead {
    background-color: #f4f4f4;
}

.score-table th,
.score-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 24px;
    width: 100px;
}

.score-table th {
    font-weight: 600;
}

.score-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.score-table td.win {
    color: green;
    font-weight: bold;
}

.score-table td.lose {
    color: red;
    font-weight: bold;
}

.score-table td.tie {
    color: #eab308;
    font-weight: bold;
}